@import './mixins';

#app {
  @include flexColumn;
  @include center;

  #mark-down {
    // @include border;
    @include box;
    height: 40vh;

    textarea {
      margin: 0;
      height: 90%;
      width: 99%;
    }
  }
  #preview {
    @include border;
    @include box;
    min-height: 50vh;
  }

  .top-bar {
    @include border;
    border-radius: 5px;
    width: 100%;
    position: relative;

      button {
        border-radius: 3px;
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
    }
  }
}
