@import './mixins';
body {
  background-color: $dark;
  text-align: left;

  #app {
    @include flexColumn;
    @include center;

    #mark-down {
      @include box;
      height: 40vh;

      textarea {
        margin: 0;
        height: 90%;
        width: 99.5%;
      }
    }

    #preview {
      @include border;
      @include box;
      word-wrap: break-word;
      min-height: 50vh;
      display: block;
      color: white;
      background-color: black;
      text-align: left;

      #injected {
        @include flexColumn;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 2%;
      }

      blockquote {
        border-left: 3px solid #1b3e3e;
        color: #6bb3b3;
        padding-left: 5px;
        margin-left: 25px;
      }

      > p > code {
        padding: 3px;
      }

      code {
        background: rgba(120, 120, 120, 0.639);
        font-size: 0.875rem;
        font-weight: bold;
        border-radius: 2px;
      }

      pre {
        display: block;
        overflow: auto;
        background: rgba(120, 120, 120, 0.639);
        padding: 5px;
        line-height: 1.2;
        border-radius: 2px;
      }

      h1 {
        border-bottom: 2px solid $dark;
      }

      h2 {
        border-bottom: 1px solid $dark;
      }

      table {
        border-collapse: collapse;
      }

      td,
      th {
        border: 2px solid $dark;
        padding-left: 5px;
        padding-right: 5px;
      }

      img {
        display: block;
        max-width: 90%;
        margin: 2rem auto;
      }
    }

    .top-bar {
      @include border;
      @include bottomRound;
      border-radius: 5px;
      width: 100%;
      position: relative;
      text-align: center;

      button {
        border-radius: 3px;
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
      }
    }
  }
}
