body {
  background-color: #357e94;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  text-align: left;
}
body #app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body #app #mark-down {
  border-width: 2px;
  border-radius: 8px;
  margin: 2%;
  width: 75vw;
  height: 40vh;
}
body #app #mark-down textarea {
  background-color: rgba(240, 248, 255, 0.762);
  margin: 0;
  height: 90%;
  width: 99.5%;
}
body #app #preview {
  border-style: outset;
  border-color: rgba(189, 189, 189, 0.762);
  border-image: initial;
  border-width: 2px;
  border-radius: 8px;
  margin: 2%;
  width: 75vw;
  word-wrap: break-word;
  min-height: 50vh;
  display: block;
  color: white;
  background-color: black;
  text-align: left;
}
body #app #preview #injected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2%;
}
body #app #preview blockquote {
  border-left: 3px solid #1b3e3e;
  color: #6bb3b3;
  padding-left: 5px;
  margin-left: 25px;
}
body #app #preview > p > code {
  padding: 3px;
}
body #app #preview p > a {
  color: #31bd29;
}
body #app #preview code {
  background: rgba(120, 120, 120, 0.639);
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 2px;
}
body #app #preview pre {
  display: block;
  overflow: auto;
  background: rgba(120, 120, 120, 0.639);
  padding: 5px;
  line-height: 1.2;
  border-radius: 2px;
}
body #app #preview h1 {
  border-bottom: 2px solid rgba(43, 42, 42, 0.872);
}
body #app #preview h2 {
  border-bottom: 1px solid rgba(43, 42, 42, 0.872);
}
body #app #preview table {
  border-collapse: collapse;
}
body #app #preview td,
body #app #preview th {
  border: 2px solid rgba(43, 42, 42, 0.872);
  padding-left: 5px;
  padding-right: 5px;
}
body #app #preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}
body #app .top-bar {
  border-style: outset;
  border-color: rgba(189, 189, 189, 0.762);
  border-image: initial;
  background-color: #1e6e6e;
  color: antiquewhite;
  border-radius: 5px;
  width: 100%;
  position: relative;
  text-align: center;
}
body #app .top-bar button {
  border-radius: 3px;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
}
